{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
  <div id="error" class="page">
    <div class="wrapper-404">
      <div class="content-wrapper">
        <div class="lead-wrapper">
          <h1 class="lead-404">404</h1>
        </div>

        <div class="info-wrapper">
          <p class="info-404">Oops... La page que vous cherchez<br> n'existe pas! Par chance, nous<br> avons des pages déjà existantes</p>
        </div>

        <ul class="links-404">
          <li><a href="/" class="btn btn-light btn-small">Retour à l'accueil</a></li>
        </ul>

      </div>
    </div><!-- / .wrapper-404 -->
  </div>
{% endblock %}