<div id="cookies-banner">
	Notre site utilise les cookies pour une navigation optimale. En poursuivant votre navigation, vous en acceptez l'utilisation.   <a href="#"><span class="label label-green">Fermer</span></a>
</div>