{% extends 'base.html.twig' %} 
 
{% block body %} 
 
  {% block nav %}
  <!-- ========== Navigation ========== -->

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-trans  navbar-fw" role="navigation">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="/"><img src="{{ asset('img/logo-light.png') }}"></a>
        </div>

        <!-- Navbar Links -->
        <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/">Accueil<span class="sr-only"></span></a></li>
                <li><a href="/annonce">Annonces<span class="sr-only"></span></a></li>
                <li><a href="/apropos">A Propos<span class="sr-only"></span></a></li>
                <li><a href="/FAQ">FAQ<span class="sr-only"></span></a></li>
                <li><a href="/contact">Contact<span class="sr-only"></span></a></li>
                <li><a href="/login">Connexion<span class="sr-only"></span></a></li>
            </ul><!-- / .nav .navbar-nav -->
        </div><!--/.navbar-collapse -->
    </nav><!-- / .navbar -->
  {% endblock %}
  
  <section id="contact" class="contact-3"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-12 col-lg-offset-2 col-lg-8"> 
          <div class="form-wrapper"> 
            <div class="from-header"> 
              <h2>Entrer en contact</h2> 
              <p>Vous avez un projet dont vous désirez que l'on considère ou tout simplement nous dire bonjour? 
              Utilisez le formulaire ci-dessous pour nous décrire votre projet et nous contacter. Nous vous promettons de vous répondre dans les plus brefs délais.</p> 
            </div> 
 
            <form action="{{ asset('css/contact-form/contact-form.php') }}" method="POST" class="form-minimal form-ajax"> 
 
              <!-- Name --> 
              <div class="form-group"> 
                <input type="text" name="name" id="name-contact-3" class="form-control validate-locally"> 
                <label for="name-contact-3">Nom *</label> 
                <span class="pull-right alert-error"></span> 
              </div> 
 
              <!-- Email --> 
              <div class="form-group"> 
                <input type="email" name="email" id="email-contact-3" class="form-control validate-locally"> 
                <label for="email-contact-3">Email *</label> 
                <span class="pull-right alert-error"></span> 
              </div> 
 
              <!-- Phone --> 
              <div class="form-group ws-s"> 
                <input type="tel" name="phone" id="phone-contact-3" class="form-control"> 
                <label for="email-contact-3">Téléphone</label> 
              </div> 
 
              <!-- Message --> 
              <div class="form-group"> 
                <p>Dites nous bonjour, ou parlez-nous de votre projet</p> 
                <textarea class="form-control" name="message" id="message-contact-1" rows="5"></textarea> 
                <label for="message-contact-1">Message *</label> 
              </div> 
 
              <input type="submit" class="btn-text" value="Send Message"> 
 
              <!-- Ajax Message --> 
              <div class="ajax-message"></div> 
 
            </form> 
          </div> 
        </div> 
      </div> 
    </div><!-- / .container --> 
  </section><!-- / .contact-3 --> 
    {% block footer %}

    <!-- ========== Footer Widgets ========== -->
        
        <footer class="footer-widgets">
          <div class="container">
            <div class="row section">

            <!-- Navigation -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">Navigation</h5>
                    <a href="/">Accueil</a><br>
                    <a href="/annonce">Annonces</a><br>
                    <a href="/apropos">A Propos</a><br>
                    <a href="/FAQ">FAQ</a><br>
                    <a href="/contact">Contact</a>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- About Us -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">A Propos de nous</h5>
                  <p>Nous sommes une plateforme d'annonces immobilières à destinations de mandataires immobiliers et fournissons des outils pour vous aider à trouver le bien de vos rêves.</p>

                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Instagram Feed -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget gallery-widget">
                  <h5 class="header-widget">Dernières annonces</h5>
                  <ul>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Mentions Légales -->
              <div class="col-md-3 col-sm-6">
                <div class="widget about-widget">
                  <h5 class="header-widget">Mentions légales & CGV</h5>
                  
                    <a href="/mentions-legales">Mentions Légales</a><br>
                    <a href="/CGV">Conditions Générales de Vente</a><br>

                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

            </div><!-- / .row -->
          </div><!-- / .container -->


          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-sm-6">
                  <small>&copy; 2017 E-Mobilier. Fait par l'équipe développement de E-Mobilier</small>
                </div>

                <div class="col-sm-6">
                  <small><a href="#page-top" class="pull-right to-the-top">Au début<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->

        </footer><!-- / .footer-widgets -->

    {% endblock %}
 
{% endblock %} 