{% extends 'base.html.twig' %} 
 
{% set active = 0 %}

{% block body %} 
 
  {% block nav %}

    {{ parent() }}
    
  {% endblock %}
  
  <section id="contact" class="contact-3"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-12 col-lg-offset-2 col-lg-8"> 
          <div class="form-wrapper"> 
            <div class="from-header"> 
              <h2>Entrer en contact</h2> 
              <p>Vous avez un projet dont vous désirez que l'on considère ou tout simplement nous dire bonjour? 
              Utilisez le formulaire ci-dessous pour nous décrire votre projet et nous contacter. Nous vous promettons de vous répondre dans les plus brefs délais.</p> 
            </div> 
 
           <div class="ajax-form"> 
            {% include 'CRWPlatformBundle:Contact:formulaire.html.twig' with {'form_contact': form_contact} %}
           </div>
           
          </div> 
        </div> 
      </div> 
    </div><!-- / .container --> 
  </section><!-- / .contact-3 --> 
 
{% endblock %} 