{% extends 'base.html.twig' %} 
 
{% block body %} 
 
  <section id="contact" class="contact-3"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-12 col-lg-offset-2 col-lg-8"> 
          <div class="form-wrapper"> 
            <div class="from-header"> 
              <h2>Entrer en contact</h2> 
              <p>Vous avez un projet dont vous désirez que l'on considère, ou tout simplement nous dire bonjour? 
              Utilisez le formulaire ci-dessous pour nous décrire votre projet et nous contacter. Nous vous promettons de vous répondre dans les plus brefs délais.</p> 
            </div> 
 
            <form action="../assets/contact-form/contact-form.php" method="POST" class="form-minimal form-ajax"> 
 
              <!-- Name --> 
              <div class="form-group"> 
                <input type="text" name="name" id="name-contact-3" class="form-control validate-locally"> 
                <label for="name-contact-3">Nom *</label> 
                <span class="pull-right alert-error"></span> 
              </div> 
 
              <!-- Email --> 
              <div class="form-group"> 
                <input type="email" name="email" id="email-contact-3" class="form-control validate-locally"> 
                <label for="email-contact-3">Email *</label> 
                <span class="pull-right alert-error"></span> 
              </div> 
 
              <!-- Phone --> 
              <div class="form-group ws-s"> 
                <input type="tel" name="phone" id="phone-contact-3" class="form-control"> 
                <label for="email-contact-3">Téléphone</label> 
              </div> 
 
              <!-- Message --> 
              <div class="form-group"> 
                <p>Dites nous bonjour, ou parlez-nous de votre projet</p> 
                <textarea class="form-control" name="message" id="message-contact-1" rows="5"></textarea> 
                <label for="message-contact-1">Message *</label> 
              </div> 
 
              <input type="submit" class="btn-text" value="Send Message"> 
 
              <!-- Ajax Message --> 
              <div class="ajax-message"></div> 
 
            </form> 
          </div> 
        </div> 
      </div> 
    </div><!-- / .container --> 
  </section><!-- / .contact-3 --> 
 
{% endblock %} 
 
 
  <!-- ========== Social Links ========== --> 
{% block social_links %} 
 
  <div class="dark-bg"> 
    <div class="container footer-social-links"> 
      <div class="row"> 
         
        <ul> 
          <li><a href="#">Facebook</a></li> 
          <li><a href="#">Twitter</a></li> 
        </ul> 
 
      </div> 
    </div><!-- / .container --> 
  </div><!-- / .dark-bg --> 
   
{% endblock %}