{% extends 'base.html.twig' %}

{% block body %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- ========== Preloader ========== -->

    <div class="preloader">
        <img src="{{ asset('img/loader.svg') }}" alt="Loading...">
    </div>


    {% block nav %}

        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-trans  navbar-fw" role="navigation">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->
                <a class="navbar-brand" href="/"><img src="{{ asset('img/logo-light.png') }}"></a>
            </div>

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil<span class="sr-only"></span></a></li>
                    <li><a href="/annonce">Annonces<span class="sr-only"></span></a></li>
                    <li><a href="/apropos">A Propos<span class="sr-only"></span></a></li>
                    <li><a href="/FAQ">FAQ<span class="sr-only"></span></a></li>
                    <li><a href="/contact">Contact<span class="sr-only"></span></a></li>
                    <li><a href="/login">Connexion<span class="sr-only"></span></a></li>
                </ul><!-- / .nav .navbar-nav -->
            </div><!--/.navbar-collapse -->
        </nav><!-- / .navbar -->

    {% endblock %}

    {% block img_cover %}

        <!-- ========== Hero Cover ========== -->

        <div id="home" class="agency2-hero">
            <div class="bg-overlay">

                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas" class="demo-canvas"></canvas>

                    <!-- Hero Content -->
                    <div class="hero-content-wrapper">
                        <div class="hero-content">

                            <img src="{{ asset('img/hero/ag2-logo.png') }}" alt="Presentation">
                            <h1 class="hero-lead">E-Mobilier</h1>
                            <h4 class="h-alt hero-secondary">Agence de regroupement d'annonces immobilières</h4>
                            <a href="#annonce" class="btn btn-light">Voir les annonces</a>

                            <!-- Scroller -->
                            <a href="#about" class="scroller">
                                <span class="scroller-text">Défiler</span>
                                <span class="linea-basic-magic-mouse"></span>
                            </a>

                        </div><!-- / .hero-content -->
                    </div><!-- / .hero-content-wrapper -->

                </div><!-- / #large-header -->

            </div><!-- / .bg-overlay -->
        </div><!-- / #home -->

    {% endblock %}

    {% block presentation %}

        <!-- ========== About - Section ========== -->

        <section id="about" class="container">
            <div class="row section">

                <header class="sec-heading">
                    <h2>A Propos de Nous</h2>
                    <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
                </header>

                <div class="col-md-4">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        <footer><cite>by Henry Hill</cite></footer></blockquote>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolor, hic tempore omnis! Et, quod! Repudiandae itaque necessitatibus, facilis optio debitis incidunt, veniam placeat fuga eos molestiae culpa rem eveniet.</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolor, hic tempore omnis! Et, quod! Repudiandae itaque necessitatibus, facilis optio debitis incidunt, veniam placeat fuga eos molestiae culpa rem eveniet.</p>
                </div>
            </div><!-- / .row -->
            <div class="row ws-m">
                <div class="col-md-12 text-center">
                    <button class="btn" href="/apropos">Plus d'informations</button>
                </div>
            </div>
        </section><!-- / .container -->

    {% endblock %}
{% block About_us %}

        <!-- ========== About - Section ========== -->
        <div class="gray-bg">
          <section class="container section team-4col">
            <div class="row">
              
              <header class="sec-heading">
                <h2>Notre équipe</h2>
                <span class="subheading">Nous sommes des professionnels de la création</span>
              </header>

              <!-- Member 1 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Hello!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Benedict BIANCHINI</h4>
                    <span class="t-role">Chef de projet</span>
                    <ul class="social-links">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


              <!-- Member 2 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Qui suis-je ?</h4>
                        <p>J'ai rejoins cette entreprise avec l'aspiration de pouvoir développer un projet de grande envergure. De ce point de vue, E-mobilier correspond parfaitement à mes critères.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Mehdi CHOUANIA</h4>
                    <span class="t-role">Web Developpeur</span>
                    <ul class="social-links">
                      <li><a href="https://www.linkedin.com/in/mehdi-chouania-24840ba6/"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="http://chouania-mehdi.fr/"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


              <!-- Member 3 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Hello!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Florian LIEVRE</h4>
                    <span class="t-role">Web Developpeur</span>
                    <ul class="social-links">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


              <!-- Member 4 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Hello!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Sifa SIR</h4>
                    <span class="t-role">Web Designer</span>
                    <ul class="social-links">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


            </div><!-- / .row -->
          </section><!-- / .contianer -->
        </div><!-- / .gray-bg -->
    {% endblock %}
{% block annonce_section %}

        <!-- ========== Section Annonce ========== -->

        <section id="annonce" class="container">
            <div class="row section">

                <header class="sec-heading">
                    <h2>Annonces</h2>
                    <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
                </header>

                <div class="col-md-4">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        <footer><cite>by Henry Hill</cite></footer></blockquote>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolor, hic tempore omnis! Et, quod! Repudiandae itaque necessitatibus, facilis optio debitis incidunt, veniam placeat fuga eos molestiae culpa rem eveniet.</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolor, hic tempore omnis! Et, quod! Repudiandae itaque necessitatibus, facilis optio debitis incidunt, veniam placeat fuga eos molestiae culpa rem eveniet.</p>
                </div>
            </div><!-- / .row -->
            <div class="row ws-m">
                <div class="col-md-12 text-center">
                    <a href="pages/about-1.html" class="btn-text">Plus d'informations</a>
                </div>
            </div>
        </section><!-- / .container -->

    {% endblock %}

    {% block Contact %}

        <!-- ========== Section Contact ========== -->

      <div class="gray-bg">
        <section id="contact" class="section contact-2">
          <header class="sec-heading">
            <h2>Contactez-nous</h2>
            <span class="subheading">Nous serons ravis de vous informer</span>
          </header>

          <!-- Map -->
          <div id="map-canvas" class="gmap map-wide"></div>

          <div class="footer-litle ws-m">
            <div class="gray-bg">

              <!-- Contact Info -->
              <address>
                <ul>
                  <!-- Address -->
                  <li>
                    <span class="linea-basic-map adr-icon"></span>
                    <div class="adr-group">
                      <span class="adr-heading">Adresse</span>
                      <span class="adr-info">36 Avenue Général Eisenhower, Lyon 05, France</span>
                    </div>
                  </li>

                  <!-- Email -->
                  <li>
                    <span class="linea-basic-paperplane adr-icon"></span>
                    <div class="adr-group">
                      <span class="adr-heading">Email</span>
                      <span class="adr-info">test@test.com</span>
                    </div>
                  </li>

                  <!-- Phone -->
                  <li>
                    <span class="linea-basic-smartphone adr-icon"></span>
                    <div class="adr-group">
                      <span class="adr-heading">Téléphone</span>
                      <span class="adr-info">+ 33 7 45 67 89 60</span>
                    </div>
                  </li>
                </ul>
              </address>            
            </div><!-- / .gray-bg -->
          </div>
          
          <div class="container">
            
            <!-- Contact Form -->
            <div class="row">
              <form action="{{ asset('css/contact-form/contact-form-accueil.php') }}" method="POST" id="contact-form-1" class="form-ajax">
                  <div class="col-md-offset-2 col-md-4 wow fadeInUp" data-wow-duration="1s">

                    <!-- Name -->
                    <div class="form-group">
                      <input type="text" name="name" id="name-contact-1" class="form-control validate-locally" placeholder="Votre nom">
                      <label for="name-contact-1">Nom</label>
                      <span class="pull-right alert-error"></span>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <input type="email" name="email" id="email-contact-1" class="form-control validate-locally" placeholder="Votre email">
                      <label for="email-contact-1">Email</label>
                      <span class="pull-right alert-error"></span>
                    </div>

                  </div>

                  <div class="col-md-4 wow fadeInUp" data-wow-duration="1s">

                    <!-- Message -->
                    <div class="form-group">
                      <textarea name="message" id="message-contact-1" class="form-control" rows="5" placeholder="Votre message"></textarea>
                      <label for="message-contact-1">Message</label>
                    </div>
                    <div>
                      <input type="submit" class="btn pull-right" value="Send Message">
                    </div>

                    <!-- Ajax Message -->
                    <div class="ajax-message col-md-12 no-gap"></div>

                  </div><!-- / .col-md-4 -->

                </form>
            </div><!-- / .row -->
          </div><!-- / .container -->  
        </section><!-- / .contact-1 -->
      </div>
    {% endblock %}

    {% block footer %}

    <!-- ========== Footer Widgets ========== -->
        
        <footer class="footer-widgets">
          <div class="container">
            <div class="row section">

            <!-- Navigation -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">Navigation</h5>
                    <a href="/">Accueil</a><br>
                    <a href="/annonce">Annonces</a><br>
                    <a href="/apropos">A Propos</a><br>
                    <a href="/FAQ">FAQ</a><br>
                    <a href="/contact">Contact</a>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- About Us -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">A Propos de nous</h5>
                  <p>Nous sommes une plateforme d'annonces immobilières à destinations de mandataires immobiliers et fournissons des outils pour vous aider à trouver le bien de vos rêves.</p>

                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Instagram Feed -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget gallery-widget">
                  <h5 class="header-widget">Dernières annonces</h5>
                  <ul>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87/999/eee" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="http://placehold.it/650x450" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Mentions Légales -->
              <div class="col-md-3 col-sm-6">
                <div class="widget about-widget">
                  <h5 class="header-widget">Mentions légales & CGV</h5>
                  
                    <a href="/mentions-legales">Mentions Légales</a><br>
                    <a href="/CGV">Conditions Générales de Vente</a><br>

                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

            </div><!-- / .row -->
          </div><!-- / .container -->


          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-sm-6">
                  <small>&copy; 2017 E-Mobilier. Fait par l'équipe développement de E-Mobilier</small>
                </div>

                <div class="col-sm-6">
                  <small><a href="#page-top" class="pull-right to-the-top">Au début<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->

        </footer><!-- / .footer-widgets -->

    {% endblock %}

{% endblock %}