{% extends 'base.html.twig' %}

{% block body %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- ========== Preloader ========== -->

    <div class="preloader">
        <img src="{{ asset('img/loader.svg') }}" alt="Loading...">
    </div>


    {% block nav %}
      {{ parent() }}

    {% endblock %}

    {% block img_cover %}

        <!-- ========== Hero Cover ========== -->

        <div id="home" class="agency2-hero">
            <div class="bg-overlay">

                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas" class="demo-canvas"></canvas>

                    <!-- Hero Content -->
                    <div class="hero-content-wrapper">
                        <div class="hero-content">

                            <img src="{{ asset('img/logo.svg') }}" alt="Presentation"  style="width: 190px;">
                            <h1 class="hero-lead">E-Mobilier</h1>
                            <h4 class="h-alt hero-secondary">Agence de regroupement d'annonces immobilières</h4>
                            <a href="#annonce" class="btn btn-light">Voir les annonces</a>

                            <!-- Scroller -->
                            <a href="#about" class="scroller">
                                <span class="scroller-text">Défiler</span>
                                <span class="linea-basic-magic-mouse"></span>
                            </a>

                        </div><!-- / .hero-content -->
                    </div><!-- / .hero-content-wrapper -->

                </div><!-- / #large-header -->

            </div><!-- / .bg-overlay -->
        </div><!-- / #home -->

    {% endblock %}

    {% block objectifs %}

        <!-- ========== About - Objectifs ========== -->
        <section id="services" class="container ft-cards">
            <div class="row section">

                <header class="sec-heading">
                    <h2>Nos objectifs</h2>
                </header>

                <!-- Item 1 -->
                <div class="col-lg-4 col-md-6 mb-sm-50">
                    <div class="ft-item wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                        <span class="et-browser"></span>
                        <h4>Ergonomie</h4>
                        <p>e-mobilier vous propose une plateforme au design simple avec des fonctionnalitées aisément accessibles à tous quelque soit votre niveau en informatique. Quelques étapes simples vous suffisent à créer votre compte et à commencer votre aventure e-mobilier!</p>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="col-lg-4 col-md-6 mb-sm-50">
                    <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <span class="linea-basic-clock"></span>
                        <h4>Gain de temps</h4>
                        <p>Gagnez du temps ! <br />e-mobilier se charge de votre prospection pour vous.<br /> Professionnels, vos clients sont à votre portée. Particuliers, ne cherchez plus,  les mandataires inscrits sont là pour vous faire profiter de leur expertise.</p>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="col-lg-4 col-md-6 mb-sm-50">
                    <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <span class="et-happy"></span>
                        <h4>Facilité</h4>
                        <p>Grace à notre messagerie interne, entrez en contact rapidement et facilement. Fini les échanges interminables qui se perdent dans vos boîtes mails ! e-mobilier vous propose de simplifier vos conversations de professionnels à particuliers pour plus de facilité.</p>
                    </div>
                </div>

            </div><!-- / .row -->
        </section>

    {% endblock %}

    {% block presentation %}

        <!-- ========== About - Section ========== -->
        <div class="gray-bg">
            <section id="services" class="container ft-cards">
                <div class="row section">

                    <header class="sec-heading">
                        <h2>Venez en toute simplicité</h2>
                    </header>

                    <!-- Item 1 -->
                    <div class="col-lg-4 col-md-6 mb-sm-50">
                        <div class="ft-item wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <span class="linea-arrows-circle-check"></span>
                            <h4>Inscription</h4>
                            <p>Créez votre profil e-mmobilier aisément, en quelques étapes, pour contacter et être contacté par nos mandataires.</p>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="col-lg-4 col-md-6 mb-sm-50">
                        <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <span class="linea-basic-webpage-img-txt"></span>
                            <h4>Postage d'annonces</h4>
                            <p>Créez votre annonce en quelques étapes avec notre formulaire simplifié.</p>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="col-lg-4 col-md-6 mb-sm-50">
                        <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <span class="linea-basic-mail"></span>
                            <h4>Prise de contact</h4>
                            <p>Contactez les mandataires avec les profils les plus adaptés à votre transaction. Ou laissez les prendre contact avec vous, c’est à votre convenance.</p>
                        </div>
                    </div>

                </div><!-- / .row -->
            </section>
        </div>

    {% endblock %}

    {% block annonce_preview %}

        <!-- ========== Shop Layout - (Top Rated Product) ========== -->

          <section id= "annonce" class="container">

            <div class="row section">
              <header class="sec-heading">
                <h2>Les dernières annonces</h2>
              </header>

              <!-- Shop Product -->
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="shop-product-card">

                  <!-- Image/Slider -->
                  <div class="product-image-wrapper">
                    <span class="label label-red sale-label">A VENDRE</span>

                    <!-- Product Actions (hover) -->
                    <a href="#" class="fav-btn"><span class="linea-basic-star"></span></a>
                    
                    <!-- Product Main Image -->
                    <div class="shop-p-slider">
                      <a href="../../pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 1"></a>
                      <a href="../../pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 2"></a>
                      <a href="../../pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 3"></a>
                    </div>
                  </div>

                  <!-- Product Meta -->
                  <div class="product-meta">
                    <a href="../../pages/shop/shop-single.html"><h4 class="product-name">Casual Gray Blazer</h4></a>
                    <span class="product-sep"></span>
                    <p class="product-price">$187.99</p>
                  </div>

                </div><!-- / .shop-product-card -->
              </div><!-- / .col-sm-3 -->


              <!-- Shop Product -->
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="shop-product-card">

                  <!-- Image/Slider -->
                  <div class="product-image-wrapper">
                    <span class="label label-red sale-label">A VENDRE</span>

                    <!-- Product Actions (hover) -->
                    <a href="#" class="fav-btn"><span class="linea-basic-star"></span></a>
                    
                    <!-- Product Main Image -->
                    <div class="shop-p-slider">
                      <a href="pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 6"></a>
                      <a href="pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 11"></a>
                    </div>
                  </div>

                  <!-- Product Meta -->
                  <div class="product-meta">
                    <a href="pages/shop/shop-single.html"><h4 class="product-name">Light Blue Blazer</h4></a>
                    <span class="product-sep"></span>
                    <p class="product-price">$97.99</p>
                  </div>

                </div><!-- / .shop-product-card -->
              </div><!-- / .col-lg-3 -->


              <!-- Shop Product -->
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="shop-product-card">

                  <!-- Image/Slider -->
                  <div class="product-image-wrapper">
                  <span class="label label-green location-label">A LOUER</span>
                    <!-- Product Actions (hover) -->
                    <a href="#" class="fav-btn"><span class="linea-basic-star"></span></a>
                    
                    <!-- Product Main Image -->
                    <div class="shop-p-slider">
                      <a href="pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 7"></a>
                      <a href="pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 4"></a>
                    </div>
                  </div>

                  <!-- Product Meta -->
                  <div class="product-meta">
                    <a href="pages/shop/shop-single.html"><h4 class="product-name">Gray Padded Jacket</h4></a>
                    <span class="product-sep"></span>
                    <p class="product-price">$487.99</p>
                  </div>

                </div><!-- / .shop-product-card -->
              </div><!-- / .col-lg-3 -->


              <!-- Shop Product -->
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="shop-product-card">

                  <!-- Image/Slider -->
                  <div class="product-image-wrapper">
                  <span class="label label-red sale-label">A VENDRE</span>
                    <!-- Product Actions (hover) -->
                    <a href="#" class="fav-btn"><span class="linea-basic-star"></span></a>
                    
                    <!-- Product Main Image -->
                    <div class="shop-p-slider">
                      <a href="pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 8"></a>
                      <a href="pages/shop/shop-single.html"><img src="http://placehold.it/263x350" alt="Product Image 1"></a>
                    </div>
                  </div>

                  <!-- Product Meta -->
                  <div class="product-meta">
                    <a href="pages/shop/shop-single.html"><h4 class="product-name">Dark Gray Blazer</h4></a>
                    <span class="product-sep"></span>
                    <p class="product-price">$115.99</p>
                  </div>

                </div><!-- / .shop-product-card -->
              </div><!-- / .col-lg-3 -->
            </div><!-- / .row -->

            <div class="row ws-m">
              <div class="col-md-12 text-center">
                <a href="/annonce" class="btn" >Voir toutes les annonces</a>
              </div>
            </div>
          </section><!-- / .container -->

    {% endblock %}

    {% block About_us %}

        <!-- ========== About - Section ========== -->
        <div class="gray-bg">
          <section class="container section team-4col">
            <div class="row">
              
              <header class="sec-heading">
                <h2>Notre équipe</h2>
                <span class="subheading">Nous sommes des professionnels de la création</span>
              </header>

              <!-- Member 1 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Hello!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Benedict BIANCHINI</h4>
                    <span class="t-role">Chef de projet</span>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


              <!-- Member 2 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Qui suis-je ?</h4>
                        <p>J'ai rejoins cette entreprise avec l'aspiration de pouvoir développer un projet de grande envergure. De ce point de vue, E-mobilier correspond parfaitement à mes critères.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Mehdi CHOUANIA</h4>
                    <span class="t-role">Web Developpeur</span>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


              <!-- Member 3 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Hello!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Florian LIEVRE</h4>
                    <span class="t-role">Web Developpeur</span>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


              <!-- Member 4 -->
              <div class="col-lg-3 col-md-6 mb-sm-50">
                <div class="t-item">

                  <!-- Image -->
                  <div class="t-image">
                    <img src="http://placehold.it/360x440" alt="Team Member" class="img-responsive">
                    <div class="t-description">
                      <div class="content-wrapper">
                        <h4 class="h-alt">Hello!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Info -->
                  <div class="t-info">
                    <h4 class="t-name">Sifa SIR</h4>
                    <span class="t-role">Web Designer</span>
                  </div>

                </div><!-- / .t-item -->
              </div><!-- / .col-lg-3 -->


            </div><!-- / .row -->
          </section><!-- / .contianer -->
        </div><!-- / .gray-bg -->

    {% endblock %}

    

    {% block Contact %}

        <!-- ========== Section Contact ========== -->

        <section id="contact" class="section contact-2">
          <header class="sec-heading">
            <h2>Contactez-nous</h2>
            <span class="subheading">Nous serons ravis de vous informer</span>
          </header>

          <!-- Map -->
          <div id="map-canvas" class="gmap map-wide"></div>

          <div class="footer-litle ws-m">
            <div class="gray-bg">

              <!-- Contact Info -->
              <address>
                <ul>
                  <!-- Address -->
                  <li>
                    <span class="linea-basic-map adr-icon"></span>
                    <div class="adr-group">
                      <span class="adr-heading">Adresse</span>
                      <span class="adr-info">36 Avenue Général Eisenhower, Lyon 05, France</span>
                    </div>
                  </li>

                  <!-- Email -->
                  <li>
                    <span class="linea-basic-paperplane adr-icon"></span>
                    <div class="adr-group">
                      <span class="adr-heading">Email</span>
                      <span class="adr-info">test@test.com</span>
                    </div>
                  </li>

                  <!-- Phone -->
                  <li>
                    <span class="linea-basic-smartphone adr-icon"></span>
                    <div class="adr-group">
                      <span class="adr-heading">Téléphone</span>
                      <span class="adr-info">+ 33 7 45 67 89 60</span>
                    </div>
                  </li>
                </ul>
              </address>            
            </div><!-- / .gray-bg -->
          </div>
          
          <div class="container">
            
            <!-- Contact Form -->
            <div class="row">
              <form action="{{ asset('css/contact-form/contact-form-accueil.php') }}" method="POST" id="contact-form-1" class="form-ajax">
                  <div class="col-md-offset-2 col-md-4 wow fadeInUp" data-wow-duration="1s">

                    <!-- Name -->
                    <div class="form-group">
                      <input type="text" name="name" id="name-contact-1" class="form-control validate-locally" placeholder="Votre nom">
                      <label for="name-contact-1">Nom</label>
                      <span class="pull-right alert-error"></span>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <input type="email" name="email" id="email-contact-1" class="form-control validate-locally" placeholder="Votre email">
                      <label for="email-contact-1">Email</label>
                      <span class="pull-right alert-error"></span>
                    </div>

                  </div>

                  <div class="col-md-4 wow fadeInUp" data-wow-duration="1s">

                    <!-- Message -->
                    <div class="form-group">
                      <textarea name="message" id="message-contact-1" class="form-control" rows="5" placeholder="Votre message"></textarea>
                      <label for="message-contact-1">Message</label>
                    </div>
                    <div>
                      <input type="submit" class="btn pull-right" value="Send Message">
                    </div>

                    <!-- Ajax Message -->
                    <div class="ajax-message col-md-12 no-gap"></div>

                  </div><!-- / .col-md-4 -->

                </form>
            </div><!-- / .row -->
          </div><!-- / .container -->  
        </section><!-- / .contact-1 -->
    {% endblock %}

{% endblock %}