{% extends 'base.html.twig' %}

{% block body %}

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- ========== Preloader ========== -->

    <div class="preloader">
        <img src="{{ asset('img/loader.svg') }}" alt="Loading...">
    </div>


    {% block nav %}

        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-trans  navbar-fw" role="navigation">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->
                <a class="navbar-brand" href="index.html"><img src="{{ asset('img/logo-light.png') }}"></a>
            </div>

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home<span class="sr-only"></span></a></li>
                    <li><a href="#about">About<span class="sr-only"></span></a></li>
                    <li><a href="#services">Services<span class="sr-only"></span></a></li>
                    <li><a href="#portfolio">Portfolio<span class="sr-only"></span></a></li>
                    <li><a href="#testimonials">Testimonials<span class="sr-only"></span></a></li>
                    <li><a href="#blog">Blog<span class="sr-only"></span></a></li>
                    <li><a href="#contact">Contact<span class="sr-only"></span></a></li>
                    <li><a href="index.html">All Demos<span class="sr-only"></span></a></li>
                </ul><!-- / .nav .navbar-nav -->
            </div><!--/.navbar-collapse -->
        </nav><!-- / .navbar -->

    {% endblock %}

    {% block img_cover %}

        <!-- ========== Hero Cover ========== -->

        <div id="home" class="agency2-hero">
            <div class="bg-overlay">

                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas" class="demo-canvas"></canvas>

                    <!-- Hero Content -->
                    <div class="hero-content-wrapper">
                        <div class="hero-content">

                            <img src="{{ asset('img/hero/ag2-logo.png') }}" alt="Presentation">
                            <h1 class="hero-lead">Creative Agency</h1>
                            <h4 class="h-alt hero-secondary">Web Design &amp; Development</h4>
                            <a href="#about" class="btn btn-light">Learn More</a>

                            <!-- Scroller -->
                            <a href="#about" class="scroller">
                                <span class="scroller-text">scroll down</span>
                                <span class="linea-basic-magic-mouse"></span>
                            </a>

                        </div><!-- / .hero-content -->
                    </div><!-- / .hero-content-wrapper -->

                </div><!-- / #large-header -->

            </div><!-- / .bg-overlay -->
        </div><!-- / #home -->

    {% endblock %}

    {% block About_section %}

        <!-- ========== About - Section ========== -->

        <section id="about" class="container">
            <div class="row section">

                <header class="sec-heading">
                    <h2>About Studio</h2>
                    <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
                </header>

                <div class="col-md-4">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        <footer><cite>by Henry Hill</cite></footer></blockquote>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolor, hic tempore omnis! Et, quod! Repudiandae itaque necessitatibus, facilis optio debitis incidunt, veniam placeat fuga eos molestiae culpa rem eveniet.</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolor, hic tempore omnis! Et, quod! Repudiandae itaque necessitatibus, facilis optio debitis incidunt, veniam placeat fuga eos molestiae culpa rem eveniet.</p>
                </div>
            </div><!-- / .row -->
            <div class="row ws-m">
                <div class="col-md-12 text-center">
                    <a href="pages/about-1.html" class="btn-text">More about us</a>
                </div>
            </div>
        </section><!-- / .container -->

    {% endblock %}

{% endblock %}
