{% extends 'base.html.twig' %}

{% block body %} 

  {% block nav %}

    {{ parent() }}
    
  {% endblock %}

<!-- ========== FAQ Layout - 1 ========== -->

<section class="container section">
  <header class="sec-heading">
    <h2>Questions générales</h2>
    <span class="subheading">Foire aux Questions</span>
  </header>

  <div class="row ws-s">

    <!-- FAQ Group 1 -->
    <div class="col-md-6">
      <div class="faq-group-header ws-s">
        <h4 class="mb-30">Définitions générales</h4>
        <p>Nous vous proposons une rubrique d'aide dans laquelle vous trouverez facilement les réponses à toutes vos questions.</p>
      </div>
      
      <!-- FAQ Accordion -->
      <div class="panel-group accordions-1 ws-s" id="faq-accordion-1" role="tablist" aria-multiselectable="true">

        <!-- Item 1 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-1-h-1">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-1" aria-expanded="false" aria-controls="faq-1-collapse-1">
                  
              QU’EST-CE QU’UNE ZONE INONDABLE ?
              </span>
            </h4>
          </div>
          <div id="faq-1-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-1">
            <div class="panel-body">
              Une zone inondable est une zone géographique généralement située proche d’un cours d’eau qui, par des évènements naturels, peut être amené à déborder. Ces inondations peuvent être plus ou moins proches du logement. Pour savoir si votre habitation est située dans une zone inondable, vous pouvez vous renseigner auprès de la mairie ou consulter l’atlas des zones inondables.
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 2 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-1-h-2">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-2" aria-expanded="false" aria-controls="faq-1-collapse-2">
                QU’EST-CE QU’UNE HYPOTHÈQUE ?
              </span>
            </h4>
          </div>
          <div id="faq-1-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-2">
            <div class="panel-body">
              Une hypothèque est établie dans le cadre d’un prêt immobilier contracté avec un organisme bancaire. Le créancier (la banque) dispose alors d’une garantie de son emprunteur en cas de non-remboursement du crédit. Dans le cas où le propriétaire du bien immobilier ne peut plus honorer le remboursement de son crédit, l’organisme bancaire peut alors saisir le bien immobilier et le mettre en vente par voie de justice, ce qui permettra de rembourser le prêt. C’est le bien immobilier qui fait office de garantie.
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 3 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-1-h-3">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-3" aria-expanded="false" aria-controls="faq-1-collapse-3">
                QU’EST-CE QU’UNE MAINLEVÉE ?
              </span>
            </h4>
          </div>
          <div id="faq-1-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-3">
            <div class="panel-body">
              Une mainlevée est un acte délivré par l’organisme bancaire attestant que son débiteur a remboursé son prêt. En cas de mainlevée hypothécaire, le débiteur devra régler des frais de mainlevée. Ces frais sont établis en fonction du montant du crédit contracté et correspondent à environ 0,75 % du montant du prêt. La main levée hypothécaire est réalisée devant un notaire. Dans le cas d’une vente, le propriétaire va demander la levée de l’hypothèque qui certifiera que l’hypothèque du bien immobilier n’est plus valable. Dans le cas contraire, le bénéficiaire de l’hypothèque le restera même si le propriétaire change.
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 4 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-1-h-4">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-1-collapse-4" aria-expanded="false" aria-controls="faq-1-collapse-4">
                  
              PEUT-ON VENDRE UN BIEN EN PLUSIEURS LOTS ?
              </span>
            </h4>
          </div>
          <div id="faq-1-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-1-h-4">
            <div class="panel-body">
              Il est possible de diviser un bien immobilier en plusieurs lots que ce soit une maison avec terrain, un appartement, un terrain ou encore un immeuble. Les règles de division diffèrent selon le type de bien à diviser. En ce qui concerne la division d’un immeuble, la création d’une copropriété est obligatoire.

              Une maison peut également être divisée en deux lots en séparant une partie du terrain. Ainsi, le vendeur pourra vendre d’un coté sa maison avec un peu de terrain et de l’autre un terrain constructible. Il faut toutefois se renseigner au préalable auprès du service urbanisme de sa commune pour vérifier que la division est possible. Il faudra également veiller à ce que chaque lot dispose de son indépendance, c’est-à-dire d’un accès propre à chacun.

              Pour la division d’un appartement en deux lots, comme par exemple diviser un appartement 3 pièces en un studio et un 2 pièces, cette dernière nécessite l’accord de la copropriété. C’est le géomètre qui va répartir la superficie du bien immobilier et qui va affecter à chacun des lots, des millièmes de copropriété en fonction de sa surface.
            </div>
          </div>
        </div><!-- / .panel -->

      </div><!-- / .panel-group .accordion-1 -->

      <hr class="mb-sm-50">
    </div><!-- / .col-md-6 -->


    <!-- FAQ Group 2 -->
    <div class="col-md-6">
      <div class="faq-group-header ws-s">
        <h4 class="mb-30">Questions au sujet des diagnostics et exemples concrets.</h4>
        <p>Voici quelques conseils qui vous aideront à la création et à la gestion de votre annonce immobilière.</p>
      </div>
      
      <!-- FAQ Accordion -->
      <div class="panel-group ws-s accordions-1" id="faq-accordion-2" role="tablist" aria-multiselectable="true">

        <!-- Item 1 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-1">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-1" aria-expanded="false" aria-controls="faq-2-collapse-1">
                  
QUELS DIAGNOSTICS TECHNIQUES DOIS-JE FOURNIR POUR LA VENTE DE MON BIEN IMMOBILIER ?
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-1">
            <div class="panel-body">
              Le nombre de diagnostics techniques obligatoire est variable selon la nature, la date de construction et la zone d’implantation de vote bien immobilier. Tous les diagnostics doivent être réalisés par un diagnostiqueur.

              Le diagnostic amiante est obligatoire pour les biens immobiliers dont le permis de construire a été délivré avant le 1er juillet 1997 et a une durée illimitée dans le cas de non présence d’amiante.

              Le diagnostic plomb est imposé aux biens construits avant 1949 et est illimité dans le temps lorsque le plomb n’est pas détecté, dans le cas contraire, le rapport n’est valable qu’un an.

              Le diagnostic termites est obligatoire pour les logements situés en zone contaminée déclarée par arrêté préfectoral. Ce diagnostic a une validité de 6 mois. Pour les biens immobiliers situés en copropriété, le diagnostic loi Carrez (mesurage) est obligatoire et a une durée illimitée sauf en cas de travaux effectués touchant à la surface du bien immobilier.

              Les logements comportant une installation de gaz supérieure à 15 ans et une installation électrique supérieure à 15 ans, sont soumis au diagnostic gaz et au diagnostic électrique. Ces deux diagnostics sont valables 3 ans.

              Le diagnostic de performance énergétique (DPE) doit être établi pour tout type de bien immobilier et est valable 10 ans.

              Pour finir, le diagnostic état des risques naturels et technologiques est obligatoire pour tous les biens immobiliers situés en zone à risque et est valable 6 mois. Tous les diagnostics doivent être présentés lors de la rédaction du compromis de vente sauf le DPE qui doit être affiché dès l’annonce immobilière.
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 2 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-2">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-2" aria-expanded="false" aria-controls="faq-2-collapse-2">
                  
QU’EST-CE QUE LE HOME-STAGING ?
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-2">
            <div class="panel-body">
              Le Home-Staging est un concept apparu aux Etats-Unis dans les années 70 et qui s’installe petit à petit en France depuis 2007. Il s’agit de sublimer son intérieur dans le but de vendre son bien immobilier. Le Home-Staging privilégie une décoration sobre pour séduire un maximum d’acheteurs potentiels. Ce concept permet de mettre le bien immobilier en avant en jouant avec l’espace et la lumière. Ses principes sont les suivants : dépersonnalisation, désencombrement, rangement et harmonie. La décoration trop marquée ou les couleurs trop vives sont prohibées de la technique du Home-Staging. Il a été remarqué que la mise en pratique de cette méthode permet de vendre un bien immobilier plus rapidement. Pour le coût, il faut compter entre 2% et 3% du prix de vente du bien immobilier.
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 3 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-3">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-3" aria-expanded="false" aria-controls="faq-2-collapse-3">
                  
PEUT-ON VENDRE UN LOGEMENT OCCUPÉ ?
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-3">
            <div class="panel-body">
              Le propriétaire d’un logement loué peut tout à fait le mettre en vente sans demander à son locataire de quitter les lieux. Pour mettre le bien immobilier en vente, il n’est pas obligatoire d’attendre la fin du bail. Le propriétaire a la possibilité de proposer son bien à la vente au locataire mais ce dernier ne dispose d’aucun droit de préemption. Le droit de préemption n’est valable que lorsque le bien immobilier est vendu libre et que, par conséquent, le locataire est tenu de quitter les lieux. Le locataire peut aussi bénéficier de ce droit lorsqu’il s’agit de la première vente du bien suite à la division de l’immeuble (copropriété). Le propriétaire mettra donc son logement en vente loué. Le locataire ne quitte pas les lieux mais changera simplement de propriétaire-bailleur.


            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 4 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-4">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-4" aria-expanded="false" aria-controls="faq-2-collapse-4">
                QUELLE DIFFÉRENCE ENTRE PROMESSE DE VENTE ET COMPROMIS DE VENTE ?
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-4">
            <div class="panel-body">
              Le compromis de vente est un « avant-contrat » qui engage le vendeur et l’acheteur. Il regroupe toutes les modalités de la vente comme le prix, la description du bien ou encore la date butoir à laquelle devra être signé l’acte définitif de vente. Le vendeur s’engage donc à vendre le bien immobilier sous certaines conditions précisées dans le compromis et l’acheteur s’engage à acheter le logement sous les mêmes conditions. Lors de la signature du compromis, l’acheteur doit verser une somme équivalent à 10% maximum du prix de vente.

              La promesse de vente est un contrat qui, a contrario, n’engage que le vendeur. Celui-ci fait part à l’acheteur potentiel de son engagement à lui vendre son bien immobilier. L’acheteur ou le bénéficiaire dispose alors d’environ 2 ou 3 mois pour donner sa réponse. S’il est d’accord, il devra verser une somme au vendeur correspondante à environ 10% du prix de vente. Pour être valable, la promesse de vente doit être enregistrée auprès de la recette des impôts 10 jours après sa signature ou un mois si cette dernière est signée devant notaire.
            </div>
          </div>
        </div><!-- / .panel -->

      </div><!-- / .panel-group .accordion-1 -->

      <hr>
    </div><!-- / .col-md-6 -->
  </div><!-- / .row -->
</section><!-- / .container -->

{% endblock %}